@media screen and (max-width:1850px) {
  .Company-name {
    left: 100px;
  }
  #path2 {
    width: 800px;
    height: 1100px;
  }
  #path2_copy {
    width: 650px;
    height: 700px;
    transform: scaleY(1.2);
  }
  #Dots {
    right: 50px;
  }
  #about_info .CryptoWorld {
    width: 80%;
    text-align: center;
    font-size: 120px;
    height: auto;
  }

  #left_lorem_content {
    left: 160px;

  }
  #right_lorem_content {
    right: 160px;

  }

}

@media screen and (max-width:1500px) {
  .Company-name {
    left: 100px;
  }

  #Dots {
    right: 50px;
  }
  #about_info .CryptoWorld {
    width: 80%;
    text-align: center;
    font-size: 120px;
    height: auto;
  }
  #about_info .Rectangle-3-Copy input {
    border: none;
  }
  #about_info {
    width: 70%;
    top: 180px;
  }
  #about_info .Rectangle-3-Copy {
    width: 100%;
  }
  #about_info .Lorem-ipsum-dolor-si {
    width: 650px;
    height: auto;
  }

  #left_lorem_content {
    left: 60px;

  }
  #right_lorem_content {
    right: 60px;

  }
}

@media screen and (max-width:1250px) {
.test{
  height: 900px;
  width: 100%;
}
  #path2 {
    width: 100%;
    height: auto;
  }
  #path2_copy {
    width: 100%;
    height: 70%;
  }


  .Path-2 {
    width: 100%;
    height: 100%;

  }
  .Path-2-Copy {
    width: 100%;
    height: 100%;

  }
  #about_info .CryptoWorld {
    width: 100%;
    font-size: 100px;
    margin-bottom: 35px;
  }


  .lorem_content {
    width: 237px;
  }

  #right_lorem_content {
    right: 130px;
  width: 258px;
  }
  #left_lorem_content {
    width: 258px;
    z-index: 20;
      left: 130px;
  }
  #left_lorem_content>div {
    width: 258px;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #left_lorem_content div p {
    height: 43px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  #right_lorem_content div {
    width: 258px;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right_lorem_content div p {
    height: 43px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .lorem_content .Lorem-ipsum-dolor-si-Copy-3 {
    width: 237px;
    font-size: 24px;
    text-align: center;
    height: 54px;
    margin: auto;
    margin-bottom: 45px;
  }
  .Oval-3-Copy-4 {
    display: none;
  }
  #Rectangle-3 .Lorem-ipsum-dolor-si-Copy-2 {
    width: 700px;
  }
  .Rectangle-5_flex {
    width: 90%;
  }
}



@media screen and (max-width:1050px){
  #about_info .Lorem-ipsum-dolor-si {
    width: 550px;
    height: auto;
  }
  #right_lorem_content {
    right: 50px;

  }
  #left_lorem_content {

      left: 50px;
  }
}




@media screen and (max-width:820px) {
  .test {
    background: url('img/group-4.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: 10;
    height: 300px;
  }
  #about_info {
    top: 178px;
  }
  .Company-name {
    left: 20px;
    top: 24px;
  }
  .Rectangle-2 {
    top: 107px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 42px;
    width: 171px;
  }
  #path2 {
    z-index: 0;
    background: transparent;
  }
  #path2_copy {
    z-index: 0;
    background: transparent;
  }
  #about_info .CryptoWorld {
    top: 178px;
    font-size: 70px;
    height: auto;
    min-height: 71px;
    margin-bottom: 31px;
  }
  #about_info .Rectangle-3-Copy {
    margin-bottom: 35px;
  }
  #about_info .Lorem-ipsum-dolor-si {
    width: 80%;
    height: 179px;
    padding: 0px;
    font-size: 18px;
  }
  #Dots {
    top: 480px;
    flex-direction: row;
    transform: rotate(90deg);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #Dots .Oval-Copy:last-child{
    margin-bottom:0px;
  }
.middle{
  display: none;
}
  .mobile_Rectangle_right{
      position: absolute;
      width: 600px;
      z-index: 10;
      display: block;
      text-align: right;
  }
  .Rectangle-5-Copy-4 {
    transform: scaleX(1.2);
  }
  .mobile_Rectangle_left{
      position: absolute;
      width: 600px;
      z-index: 10;
      display: block;
      text-align: left;
  }
  .Rectangle-5-Copy-5 {
  object-fit: contain;
transform: scaleX(1.2);
  }

  #left_lorem_content {
    width: 258px;
    left: 59px;
    top: 1570px;
    z-index: 20;
  }
  #left_lorem_content>div {
    width: 258px;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #left_lorem_content div p {
    height: 43px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  #right_lorem_content div {
    width: 258px;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right_lorem_content div p {
    height: 43px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .lorem_content .Lorem-ipsum-dolor-si-Copy-3 {
    width: 237px;
    font-size: 24px;
    text-align: center;
    height: 54px;
    margin: auto;
    margin-bottom: 45px;
  }
  .Oval-3-Copy-4 {
    display: none;
  }
  #right_lorem_content {
    right: 59px;
    top: 782px;
    right: 43px;
    width: 258px;
    font-size: 18px;
  }
  .question_box {
    top: 1344px;
  }
  #first_div_lorem {
    height: 43px;
  }
  #Rectangle-3 {
    height: 700px;
  }
  #Rectangle-3 .Lorem-ipsum-dolor-si-Copy-14 {
    width: auto;
    height: 28px;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 82px;
  }
  #Rectangle-3 .Lorem-ipsum-dolor-si-Copy-15 {
    font-size: 20px;
    width: 250px;
    height: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  #Rectangle-3 .Lorem-ipsum-dolor-si-Copy-2 {
    width: 450px;
    height: 300px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  #Rectangle-3 .button_box {
    width: 305px;
  }
  #Rectangle-3 .Oval-2-Copy, .Oval-2-Copy-2, .Oval-2-Copy-3, .Oval-2-Copy-4 {
    width: 37px;
    height: 37px;
    font-size: 16px;
  }
  #Rectangle-3 .Oval-2 {
    width: 37px;
    height: 37px;
    font-size: 16px;
  }
  .Powered-by-hidden {
    display: flex;
  }
  .menu_box {
    display: block;
  }
  .Rectangle-5 {
    display: none;
  }
  #Rectangle-3 {
    top: 2233px;
  }
}

@media screen and (max-width:550px) {

  .Company-name {
    font-size: 30px;
  }
  #about_info {
    width: 100%;
  }
  #about_info .CryptoWorld {
    top: 178px;
    font-size: 60px;
    width: 325px;
    height: 71px;
    margin-bottom: 31px;
  }
  #about_info .Rectangle-3-Copy {
    width: 335px;
  }
  #about_info .Lorem-ipsum-dolor-si {
    width: 328px;
    height: 179px;
  }
  .mobile_Rectangle_right{
      width: 375px;

  }
  .Rectangle-5-Copy-4 {
    transform: scale(1);
  }
  .mobile_Rectangle_left{
  width: 375px;
}
  .Rectangle-5-Copy-5 {

transform: scale(1);
  }
  #Rectangle-3 {
    height: 841px;
  }

  #Rectangle-3 .Lorem-ipsum-dolor-si-Copy-2 {
    width: 334px;
    height: 379px;
  }

  .hidden_block {
    display: block;
    top: 2100px;
  }
  #Rectangle-3 {
    top: 2300px;
  }
}

@media screen and (max-width:375px) {
  .test{
    width: 375px;
    height: 214px;
  }
  .group-17_2 {
    height: 214px;
  }
  .hidden_block{
    top: 2167px;
  }
}
